!!!
%html
	%head
		%title Dojo tester
		%link{:rel => "stylesheet", :href => "style.css", :media => "screen", :type => "text/css" }
		%script{:type => "text/javascript", :src=>"beauty.js"}

	%body
		%h1 Results

		%img{:src => test_bar($results) + ".png"}
		%br

		.output_left
			%h2= notice $results
			%ul
				- for test in $results
					%li.test
						%p
							%img{:src => (test[:passed] ? "pass" : "fail") + ".png" }
							= test[:test]
								 
							- if not test[:passed]
								.cause= test[:cause]
