!!!

- require 'utils' #better way to do this?


%html
	%head
		%title remotest
		%link{:rel => "stylesheet", :href => "style.css", :media => "screen", :type => "text/css" }
		%script{:type => "text/javascript", :src=>"beauty.js"}

	%body
		%h1 Results

		%img{:src => test_bar($results) + ".png"}
		%br

		.output_left
			%h2= notice $results
			%ul
				- $results.each_with_index do |test,i|
					%li.test
						%p
							%img{:src => (test[:passed] ? "pass" : "fail") + ".png" }
							= test[:test]
								 
							- if not test[:passed]
								.cause=  hide_and_toggle test[:cause], :id => "test#{i}"
